* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-0: transparent;
    --color-1: white;
    --color-2: #ccc;
    --color-2: midnightblue;
    --text-color: charcoal;
    --accent-color: coral;
}
html {
    width: 100%;
    overflow-x: hidden;
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    width:100%;
    overflow-x: hidden;

}

.container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        'banner banner banner banner banner'
        'menu menu menu menu  menu'
        'about about about about about'
        'footer footer footer footer footer';
    background-color: white;
    overflow-x: hidden;
    position: absolute;
}
/*Header section (Index Page)*/
.header::before {
    height: 20vh;
}
.header {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: coral;
    grid-area: header;
    display: grid;
    grid-template-areas:
        'logo nav';
    width: 100%;

    transition: 0.6s ease;
    position:fixed;
    transform-style: preserve-3d;
    z-index: 99;
    overflow:hidden;
}

.logo {
    grid-column: 0;
    grid-area: logo;
    width:120px;
    height:10vh;
}
    .logo img {
        pointer-events: all;
        width: 120px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
        position: relative;
    }



.nav {
    height: 80px;
    background-color: var(--color-0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
    z-index:999;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    height: 100%;
    font-size: 20px;
    font-weight: 800;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    position:relative;
}

    nav a:hover {
        background-color: white;
    }

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}
/*END of Header section (Index Page)*/
.banner {
    background: url('images/banner.png') no-repeat center center fixed;
    background-size: cover;
    grid-area: banner;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    position:relative;
    margin-bottom: -10vh;

}
    .banner h1 {
        grid-area: h1;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 8vw;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
        text-align: center;
        justify-content:center;
        position: relative;
    }

.menu {
    border-radius: 120px 120px 0px 0px;
    grid-area: menu;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    background-color: white;
    color: white;
    overflow-x: hidden;
}
.menu p
{
    font-size: 3em;
    position:absolute;
    color:midnightblue;
    padding:20px;
    top:15px;
}
.slider {
    position: absolute;
    inset: 120px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;

}

.slider .slides
{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width:240px;
    height:320px;
    background:var(--img);
    background-size:cover;
    background-position:center;
    border-radius:20px;
    transition:0.5s;
    box-shadow:0 25px 50px rgba(0,0,0,0.5);
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;

}
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        box-shadow: 0 25px 50px rgba(0,0,0,0);
        background-size:cover;
        transition:0.4s;
    }
        .slider .slides:nth-child(3)
        {
            left:calc(50% + 240px);
            background-size:cover;
                    transition:0.4s;
        }
    .slider .slides:nth-child(4) {
        left: calc(50% + 500px);
        background-size: cover;
                transition:0.4s;
    }
    .slider .slides:nth-child(5) {
        left: calc(50% + 763px);
        background-size: cover;
                transition:0.4s;
    }
    .slider .slides:nth-child(6) {
        left: calc(50% + 1020px);
        background-size: cover;
        transition:0.4s;
        opacity:0;
    }
    .slider 
{
    max-height:60vh;

    margin-bottom:0;
}
    .buttons
    {
        position:relative;
        bottom:-35vh;
        display:flex;
        gap:20px;

    }
    .menu a
    {
        display:flex;
        background-color:coral;
        border-radius: 20px;
        text-align: center;
        width:200px;
        text-decoration:none;
        align-items: center;
        justify-content: center;
    }
    .order-now
    {
        cursor:pointer;
    }
    .buttons span{
        position:relative;
        width:50px;
        height:50px;
        background:#111;
        cursor:pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:50%;
    }
        .buttons span::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-top: 4px solid #fff;
            border-left: 4px solid #fff;
            transform: rotate(315deg) translate(2px,2px);
        }
        .buttons span:nth-child(3)::before {
            transform: rotate(135deg) translate(2px,2px);
        }
        .buttons span:active {
            opacity: 0.5;
        }
        .content{
            position:relative;
            padding:40px;

            max-width:600px;
            transition:0.25s;
            transition-delay:0s;
            transform:translateY(40px);
            z-index: 10000;
            opacity:0; 
        }
            .content h2 {
                font-size: 3.5em;
                color: #fff;
                text-shadow: 25px 25px 50px rgba(0,0,0,1.5);

            }
            .content h2::after {
                color: #fff;
            }
        .slider .slides:nth-child(1) .content,
        .slider .slides:nth-child(2) .content{
            opacity:1;
            transform:translateY(0px);
            transition-delay:0.5s;
        }

.about {
    background-color: white;
    grid-area: about;
    height: 55vh;
    text-align: center;
    font-size: 1.45em;
    color: midnightblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.about-p {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

    .about-p p {
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
        .about img {
            display: flex;
            align-content: center;
            justify-content: center;
            margin: auto;
            width: 10vh;
        }

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color: white;
    padding: 20px 0 30px 0;
    overflow-x: hidden;
    width:100%;

}
    #footer-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
    }

        #footer-icons a {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 20px;
            margin-bottom: 5px;
        }
        #footer-contact{
            display:flex;
            width:100%;
            flex-direction:row;
            margin-left:auto;
            margin-right:auto;
        }
            #footer-contact p {
                max-width: 283px;
                text-align: center;
                margin-right: 10vw;
            }
            #footer-contact #contact-details {
                display: flex;
                flex-direction: column;
                justify-content: left;
                width: 50%;
            }
            #footer-contact #contact-details p
            {
              text-align:left;
               width:300px;
            }
            #footer-contact div {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

        #footer-contact div p {
            padding: 0;
            width:100%;
        }

        #footer-contact div i {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-bottom: 5px;
            margin-right: 10px;

        }

        #footer-contact div a {
            text-decoration: none;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
        }

    #copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }
/*Contact Page*/
    #contact-page-container {
        display: grid;
        grid-template-areas:
            'header header header'
            'contact contact contact'
            'footer footer footer';
        background-color: transparent;
        width: 100%;
    }
    #contact-page-container .header
    {
        grid-area: header;
    }
    .contact-form {
        grid-area: contact;
        position: relative;
        width: 100%;
        height: 140vh;
        overflow-x: hidden;
        background: url('images/interior.png') no-repeat center center fixed;
        background-size: cover;
    }
    .contact-container
    {
        display: grid;
        grid-template-areas:
        'form map'
        ;
        width:100%;
        height:100%;
    }

    .contact-box
    { 
        margin-top:25vh;
        grid-area: form;
        padding: 25px 40px;
        height:auto;

    }
    .contact-box h2
    {
        color:white;
    }
    .map
    {
                margin-top:25vh;
        grid-area: map;
        margin-left:auto;
        margin-right:auto;
        padding: 25px 20px;
        height: auto;
        width: 50vw;
        overflow:hidden;
    }
    .field {
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.7);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }

        .field:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

    textarea {
        min-height: 150px;
    }

    .contact .btn {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: #2ecc71;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }

        .contact .btn:hover {
            background-color: #27ae60;
        }

    .field:focus {
        border: 2px solid rgba(30,85,250,0.47);
        background-color: #fff;
    }
    /*Order Page*/
    #order-container
    {
        grid-template-areas: 

        'cover cover cover cover'
        'order order order order'
        'cart cart cart cart'
        'footer footer footer footer';
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    #order-container .header{
                overflow-y:hidden;
    }
    .cart
    {
        padding: 10px;
        border-radius: 5px;
        border-bottom-left-radius: 30px;

    }
    .fa-cart-shopping
    {
        background: transparent !important;
        border: 1px solid white;
        color: black;


    }
    .cart-icon span
    {
        color: black;
        width: 15px; 
        height: 15px;
        border-radius: 50%;
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        position: absolute;
        right: -5px;
        top:-5px;
                overflow-y:hidden;

    }
    .cover-overlay
    {
        background: rgba(0,0,0,0.6);
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width:100%;
                overflow-y:hidden;
    }
#order-container .cover
{
        grid-area: cover;
        background-image: url(images/interior.png);
        background-size:cover;
        height:25vh;
        background-position:center;

        width:100%;
        overflow-y:hidden;
}
.order
{
    display:grid;
    grid-area:order;
    width:100%;
    height: 100vh;
    overflow-y:hidden;
            overflow-y:hidden;
}
.order header
{
    display:grid;
    grid-template-areas:
    'h1 div'
    ;
    height: 2vh;
    margin-bottom:0;
    padding:0;
}
.order h1
{
    width:auto
}
.order header div
{
    display:grid;
        grid-template-columns: repeat(2, 0fr);
    justify-content: flex-end;
    justify-items: flex-end;
    margin:0;
    padding: 10px 20px 10px 0;
}
.add-to-cart-btn
{
    cursor:pointer;
}
.order header
{
    position:relative;
    z-index:400;
}
.shopping{
    text-align: right;
     cursor: pointer;
}
.shopping fas fa-shopping-cart{
    width: 40px;
}
.shopping span{
    background: midnightblue;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 40%;
    padding: 1px 8px;
}
.order .fa-cart-shopping
{
    font-weight:999;
    color:coral;
}
.fas 
{
    color:coral;
    font-weight:999;
}
.order a .shopping
{
    align-items: flex-start;
}
.order .shopping{
    padding: 10px 20px 10px 0px;
}
.order h1
{
    padding: 10px 20px 10px 20px;
    width:auto;
}
.order .cart-count
{
    position:relative;
    top:-35px;
    left:18px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 0px;
    height:100%;
    position:relative;
    align-items:flex-start;
    justify-items:center;
    overflow-y:hidden;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
        row-gap: 0px;
    letter-spacing: 1px;
    height: 550px;
    width:90%;
}
.list .item img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.cart{
    position: fixed;
    top:0;
    left: 100%;
    width: 33vw;
    background-color: #ffffff;
    height: 100vh;
    transition: 0.5s;
    
}
.active .cart{
    left: calc(100% - 33vw);
       position:absolute;
   z-index:999;

   
}
.cart
{
    padding:0;
}
.active .container{
   transform: translateX(0px);
   position:absolute;
   z-index:999;
   
}
.closeShopping
{
    padding: 10px 15px;
    font-weight: 700;
    font-size:30px;
    color: black;
    
}
.cart h1{
    color: coral;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;

}
.cart h3
{
    color: black;
    text-align: center;
        padding: 20px 30px;
}

.cart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: black;
    

}
.cart .checkOut div{
    background-color: white;
    color: coral;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cart .checkOut div:nth-child(2){
        background-color: midnightblue;
    color: white;
}
.cart .checkOut div:nth-child(3){
    background-color: coral;
    color: white;
    border-bottom-left-radius: 30px;
}

.listCart li{
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: black;
    row-gap: 10px;
}
.listCart li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCart li img{
    width: 90%;
}
.listCart li button{
    background-color: #fff5;
    border: none;
}
.listCart .count{
    margin: 0 10px;
}
#order-container .footer
{
    grid-area: footer;
    height:28vh;
    overflow-y: hidden;
}
@media screen and (max-width:1200px) {
.order
{
    display:grid;
    grid-area:order;
    width:100%;
    height: 135vh;
    overflow-y:hidden;
}
.order header
{
    display:grid;
    grid-template-areas:
    'h1 div'
    ;
    margin-bottom:0;
    padding:0;
}
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 0px;
    position:relative;
    align-items:flex-start;
    justify-items:center;
    margin-top:0;

}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
        row-gap: 0px;
    letter-spacing: 1px;
    height: 500px;
}
.list .item img{
    width: 100%;
    height: 340px;
    object-fit: cover;
}
#order-container .footer
{
    grid-area: footer;
    height:28vh;
    overflow-y: hidden;
}
}
@media screen and (max-width:975px) {
    .menu {
        height: 90vh;
        margin-top:-3vh;
    }

    .slider {
        position: absolute;
        inset: 10px 45px 250px 45px;
        background: #ccc;
        border-radius: 20px;
        margin-top: 100px;
        max-height:50vh;
    }

        .slider .slides {
            width: 100px;
            height: 100px;
            top: initial;
            bottom: -170px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.25);
        }

            .slider .slides:nth-child(1),
            .slider .slides:nth-child(2) {
                top: initial;
                bottom: 0px;
            }

            .slider .slides:nth-child(3) {
                left: 0;
            }

            .slider .slides:nth-child(4) {
                left: 120px;
            }

            .slider .slides:nth-child(5) {
                left: 240px;
            }

            .slider .slides:nth-child(6) {
                left: 360px;
            }

    .buttons {
        position: absolute;
        bottom: 120px;
        display: flex;
        gap: 20px;
    }
    .about {
        background-color: white;
        grid-area: about;
        height: 80vh;
        text-align: center;
        font-size: 1.1em;
        color: midnightblue;
        z-index: 200;
        margin-top: -8vh;
    }

}
@media screen and (max-width: 880px) {

    #footer{
        flex-direction:column;
    }
    #footer-contact
    {
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        justify-content:center;
        align-content:center;
        justify-items:center;
        align-items:center;
    }
        #footer-contact p {
            text-align: center;

        }
    #contact-details {
        max-width: 300px;
        margin-left:auto;
        margin-right:auto;
    }
    #footer-contact #contact-details p {
        max-width: 200px;
    }
    /*Contact Page*/
        .contact-container{
                grid-template-areas:
        'form '
        'map'
        ;

    }
    .map{
        margin-top:0;
        width:90vw;
        height:80vh;
    }
    .list{
    grid-template-columns: repeat(1, 1fr);
    }
    .order
{
    display:grid;
    grid-area:order;
    width:100%;
    height: 240vh;
    overflow-y:hidden;
}
    #order-container .footer{
    height:30vh;
}
}
@media screen and (max-width:650px) {

    .slider h2{
        font-size:3.5em;
    }
    nav {
        height: 80px;
        background-color: var(--color-1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
    }
    nav svg {
    fill: coral;  
}
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
        border-bottom-left-radius:20px;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
        nav a:hover {
            background-color: midnightblue;
        }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
        
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        
    }
    #menu {
        transition: 0.75s ease-out;
        
    }
    #about {
        transition: 0.75s ease-out;
        width:100vw;
        height:70vh;
    }
    #about-p {
        padding: 0;
        transition: 0.75s ease-out;
    }
    #about-p p {
        display:block;
        padding:0;
    }
    #footer{
        height:45vh;
        padding:0;
        align-content:center;
        justify-content:space-around;
    }
    #footer-contact {
        width: 100%;
        height: 25vh;
        display: flex;

        justify-content: space-evenly;
    }
    #contact-details {
        margin-left: auto;
        justify-content: space-between;
    }
        #contact-details div {
            min-width: 490px;
            width: 100%;
        }
    #footer-contact div i {

        width: 35px;
        padding:0;
        margin-right:0;
        font-size:12px;
    }

    /*Order Page*/
    .logo img
    {
        width:100px;
        height:100px;
    }
.shopping{
    position: relative;
    text-align: right;
}
.shopping fas fa-shopping-cart{
    width: 40px;
}
.shopping span{
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 40%;
    padding: 1px 8px;
}

.shopping span{

    border-radius: 60%;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 16%;
    padding: 1px 8px;
}
#order-container .footer
{
    grid-area: footer;
    height:50vh;
    overflow-y: hidden;
}
#order-container .footer #copyright
{
    width:80%;
    text-align:center;
}
.cart
{
    width: 100%
}
.active .cart{
    left: calc(100% - 100%);
       position:absolute;
   z-index:999;
   
}
    #order-container .footer{
    grid-area: footer;
    height:38vh;
}

    }
@media screen and (max-width:420px) {
.order .list .item{
    height:360px;
}
.order .list .item img
{
    height:200px;
}
.order{
    height:265vh;
}
}
@media screen and (max-width:450px) and (max-height:980px)
 {
.order{
    height:260vh;
}
 }
 @media screen and (max-width:420px) and (max-height:700px)
 {
.order{
    height:350vh;
}

 }
@media screen and (max-width:360px) and (max-height:760px)
 {
    .order{
    height:350vh;
}

 }